
@charset "UTF-8";
/* Import compass reset module */
@import "compass";
 // Compass import 
@import "compass/css3";
/* Import reset module */
@import "compass/reset";
/*import grid */
@import "partials/grid";
@import "partials/variables";

@import "partials/typo";


body{
    font-size: 1em;
    font-family: 'Balthazar', calibri;
    color:$color;
}
//exemple
.example [class*="col"] {
    background: none repeat scroll 0 0 #A52A2A;
    border-radius: 4px;
    color: #fff;
    padding: 5px 0;
    text-align: center;

}
.example {

	.row {
        margin-bottom: 18px;
        h1{
        	padding-top:18px;
        }
	}
}


header{
    height: 5em;
    background-color: $bg-color;
    @include box-sizing(content-box);
    @include box-sizing(border-box);
}

canvas{
    display: block;
    position:absolute;
    width: 100%;
    top:0;
    
}

 




