$containerWidth :   978px;
$columnWidth :      5.5; //In percent
$column :           12; //Twelve columns


// Let's do some math here
// Define gutter width
// Gutter is space between column, in this case we have twelve columns.
// First lets multiply column width with amount of column.
//
// 5.5% X 12 = 66%
//
// This is total column width without gutter.
// In one row, column and gutter have total width of 100%, so subtract 100 with total column width
//
// 100% - 66% = 34%
//
// Last, divide that number with amount of gutter, to get amount of gutter,
// just subtract amount of column with 1
//
// 34% / ( 12 - 1 ) = 3.0909%
//
// That is our gutter width. And here is our final gutter's formula
$columnGutter : (100 - ($columnWidth * $column)) / ($column - 1);